.dropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 20%;
    cursor: pointer;
    margin-top: 10%;
}
.dropdownToggle {
    width: 100%;
    
}
.dropdownMenu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    line-height: 1rem;
    width: 100%;
    list-style: none;

}