.iconlogin {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-self: flex-end;
    border-radius: 10%;
    border: 2px solid black;
    box-shadow: 3px 3px 4px rgb(194, 185, 185);
    width: 10vh;
    height: 10vh;
}
.text {
    color: black;
}