.headerStyleLight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: black;
    height: 100px;
    padding-inline: 48px;
    line-height: 64px;
    background-color: #4096ff;
}
.headerStyleDark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 100px;
    padding-inline: 48px;
    line-height: 64px;
    background-color: #46484b;
}
.headerName {
    cursor: pointer;
    text-align:center;
    font-size:3rem;
    color:white;
    position:relative;
    left:0;
    text-shadow:
    1px 1px 0px #c4dbe2,
    2px 2px 0px #b4d1d9,
    3px 3px 0px #a6c6cf,
    4px 4px 0px #94b8c3,
    5px 5px 0px #87aeb9,
    6px 6px 0px #7aa3af,
    7px 7px 0px #6d97a3,
    8px 8px 0px #618b98,
    9px 9px 0px #56818e,
    10px 10px 0px #4c7683,
    15px 15px 25px rgba(0,0,0,.9);
    transition: .5s ease-in-out;
}
.headerName:hover {
    left:20px;
    text-shadow:
    -1px 1px 0px #c4dbe2,
    -2px 2px 0px #b4d1d9,
    -3px 3px 0px #a6c6cf,
    -4px 4px 0px #94b8c3,
    -5px 5px 0px #87aeb9,
    -6px 6px 0px #7aa3af,
    -7px 7px 0px #6d97a3,
    -8px 8px 0px #618b98,
    -9px 9px 0px #56818e,
    -10px 10px 0px #4c7683,
    -15px 15px 25px rgba(0,0,0,.9);
}
.siderStyleLight {
    text-align: center;
    line-height: 100px;
    width: 20%;
    color: black;
    background-color: #4096ff !important;
}
.siderStyleDark {
    text-align: center;
    line-height: 100px;
    width: 20%;
    color: #fff;
    background-color: #46484b !important;
}